
# Dependencies
/node_modules/
/.pnp
.pnp.js

# Next.js Build and Cache Outputs
/.next/
/out/
/build/

# Production / Vercel Deployments
.vercel

# Environment Variables (Sensitive Data)
.env
.env*.local
*.env

# Debugging and Logs (NPM specific)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing Coverage
/coverage/

# TypeScript 
*.tsbuildinfo
next-env.d.ts

# IDE / Editor Settings
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db
